---
import NavBar from "../components/componentsLayouts/header/navbar/NavBar.jsx";
import Footer from "../components/componentsLayouts/Footer";
import "../components/componentsLayouts/footer.css";
import Head from "../components/componentsLayouts/Head.astro";
import "../components/componentsLayouts/header/navbar/NavBar.css"
import "../components/componentsLayouts/footer.css"
// Props para metadatos dinámicos
const {
  title = "Studio Pixelar | Soluciones Web que Generan Negocios",
  description = "Desarrollamos webs estratégicas que convierten visitantes en clientes.",
  canonicalPath = "/", // Cambiamos a ruta relativa
  noindex = false,
  ogImage = "/social-share.jpg",
} = Astro.props;

// Configuración global
const SITE_URL = "https://studiopixelar.com"; // Solo un lugar para cambiar

// Generamos URL canónica completa
const canonicalUrl = `${SITE_URL}${canonicalPath}`;
---

<!doctype html>
<html lang="es">
  <head>
    <Head
      title={title}
      description={description}
      canonicalUrl={canonicalUrl}
      ogImage={ogImage}
      transition:animate="slide"
    />
  </head>
  <body
    class="bg-gradient-to-r from-gray-800 via-black to-gray-800 text-white min-h-screen"
  >
    <NavBar client:load />

  <main class="max-w-full mx-auto px-0 py-0">
    <slot />
    <!-- Aquí se inyecta el contenido de cada página -->
  </main>


    <Footer client:load />
  </body>
</html>
